{% extends 'base.html' %}

{% load static %}

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'BaseStyle.css' %}">

{% block page_title %}Settings{% endblock page_title %}

{% block banner %}
    <img src="{% static 'homeland.png' %}" class="d-block w-100" alt="..." style="height:500px;">
{% endblock banner %}

{% block page_body %}
<body>
<!-- Data Block Starts -->
<div class="student_add_page_card">
    
    <div class="card-body py-8 px-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-5" style="margin-top:20px;"><u>Settings</u></h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
            
                    <div class="row">

                        {% comment %} Hide form so it cant be changed, but it has to be passed {% endcomment %}
                        {{form.id_settings.as_hidden}}    
                                  

                      <!-- Name -->
                        <div class="input-group mb-5">
                            <div class="input-group-prepend"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:260px;text-align:center;">Update Attendance After Minutes :</label>
                            </div>
                            {{form.attendance_update_time_min}}
                        </div>

                        <!-- Department -->
                        <div class="input-group mb-5">
                            <div class="input-group-prepend"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:260px;text-align:center;">Head Turn Count :</label>
                            </div>
                            {{form.head_turn_count}}
                        </div>
                    
                        <!-- Semester -->
                        <div class="input-group mb-5">
                            <div class="input-group-prepend"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:260px;text-align:center;">Update Head Turn After Secounds :</label>
                            </div>
                            {{form.head_count_time_sec}}
                        </div>

                        <div class="input-group mb-5">
                            <div class="input-group-prepend"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:260px;text-align:center;">Left Turn Threshold :</label>
                            </div>
                            {{form.left_head_threshHold}}
                        </div>

                        <div class="input-group mb-5">
                            <div class="input-group-prepend"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:260px;text-align:center;">Right Turn Threshold :</label>
                            </div>
                            {{form.right_head_threshHold}}
                        </div>
                        
                        <input class="btn btn-primary" type="submit" value="Update" style="font-weight:700;color:black;background:aqua;margin-bottom:30px;border:5px double white;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock page_body %}