{% extends 'base.html' %}

{% load static %}

{% block page_title %}Update{% endblock page_title %}

{% block navitems %} 
    <li class="nav-item active">
        <a class="nav-link" href="/view_data">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/recent_att">Attendance</a>
    </li>
{% endblock navitems %} 


{% block banner %}
    <img src="{% static 'datamain.png' %}" class="d-block w-100" alt="..." style="height:500px;">
{% endblock banner %}


{% block bannermessage %}
    <div class="carousel-caption d-none d-md-block">
        <h1>AssistivePro</h1>
        <h3>Manage data online</h3>
    </div>
{% endblock bannermessage %}


{% block page_name %} Upload {% endblock page_name %} 


{% block page_body %}
<body>
<!-- Data Block Starts -->
<div class="student_add_page_card">
    
    <div class="card-body py-8 px-md-5" style="overflow:auto;">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-5" style="margin-top:20px;"><u>Update Roll Number: {{id}}</u></h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="hero">
                            <div class="St_add_photo_card">
                                <img src="{% static 'No_profile_icon.png'%}" alt="Add Student photo">
                                {{form.photo}}     
                            </div>
                        </div>
                        <!-- id -->
                        
                        {% comment %} hide form so it cant be changed but has to be passed to work properly {% endcomment %}
                        {{form.roll_num.as_hidden}}    
                                  

                        <!-- Name -->
                        <div class="input-group mb-5">
                            <div class="form-group"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:100px;text-align:center;">Name :</label>
                            </div>
                            {{form.name}}
                        </div>

                        <!-- Department -->
                        <div class="input-group mb-5">
                            <div class="form-group"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:100px;text-align:center;">Department :</label>
                            </div>
                            {{form.department}}
                        </div>
                    
                        <!-- Semester -->
                        <div class="input-group mb-5">
                            <div class="form-group"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:100px;text-align:center;">Semester :</label>
                            </div>
                            {{form.semester}}
                        </div>

                        <!-- Status -->
                        <div class="input-group mb-5">
                            <div class="form-group"
                            style="background:aqua; place-self:center;padding:10px;color:black;font-weight:600;border-radius:7px 0px 7px 0px;">
                                <label style="width:100px;text-align:center;">Status :</label>
                            </div>
                            {{form.status}}
                        </div>
                        
                        <input class="btn btn-primary" type="submit" value="Update" style="font-weight:700;color:black;background:aqua;margin-bottom:30px;border:5px double white;margin-bottom:30px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock page_body %}