{% extends 'base.html' %}


{% load static %}

{% block page_title %}Monitor{% endblock page_title %}

{% block navitems %} 
    <li class="nav-item active">
        <a class="nav-link" href="/pre_encode">Encode</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pre_session">Start Session</a>
    </li>
{% endblock navitems %} 


{% block banner %}
    <img src="{% static 'servicemain.png' %}" class="d-block w-100" alt="..." style="height:500px;">
{% endblock banner %}


{% block bannermessage %}
    <div class="carousel-caption d-none d-md-block">
        <h1>AssistivePro</h1>
        <h3>Here to assist you</h3>
    </div>
{% endblock bannermessage %}


{% block page_name %} View {% endblock page_name %} 


{% block page_body %}
<body>
    
    <div class="main_container">
        <div class="container" style="justify-content:center; width:80%;" id="home_page_container" >
            <div class="card mb-3">
                <div class="row g-0"  id="home_data_card">
                    <div class="card-body" style="margin:auto;">
                        <div class="home_card_button">
                            <a  href="/video_data" style="float:left;">Mark Attendance</a>
                        </div>

                        <div class="home_card_button">
                            <a href="/end_session" style="float:right;" onclick="stopWebcam()" disabled>End Session</a>
                        </div>
                        <div class="home_card_button">
                            <a href="#container" id ="stopWebcam" style="float:right;" onclick="startWebcam()" >Start Monitoring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="text-align:center; margin-bottom: 20px; color:aqua;">
        <h1>Monitor Students</h1>
    </div>

    <div class="container" style="text-align:center; margin-bottom: 20px; color:aqua;">
        <video class="video_page_att_video" id="webcam-video" autoplay style="display:none;"></video>
        <canvas id="grayscale-canvas" style="display:none;"></canvas>
        <img class="video_page_att_video" id="grayscale-image" alt="Video" />
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const video = document.getElementById('webcam-video');
        const canvas = document.getElementById('grayscale-canvas');
        const grayscaleImage = document.getElementById('grayscale-image');
        const startButton = document.getElementById('startButton');
        const ctx = canvas.getContext('2d');
        let videoStream;
        let frameInterval;
        
        function startWebcam() {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        video.srcObject = stream;
                        videoStream = stream;
                        video.style.display = "none";
                        startButton.disabled = true;
                        document.getElementById("stopWebcam").disabled = false;
                    });
            }
            frameInterval = setInterval(sendFrameToServer, 600);  // Send frames every 1000ms (1 second)
        }
        
        function sendFrameToServer() {
            if (videoStream) {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                canvas.toBlob(function(blob) {
                    let formData = new FormData();
                    formData.append('frame', blob, {quality: 0.01});
                    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
                    $.ajax({
                        url: 'monitor_students_feed',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            grayscaleImage.src = response.grayscale_frame;
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log('Error:', textStatus, errorThrown);
                        }
                    });
                }, 'image/jpeg');
            }
        }
        
        function stopWebcam() {
            if (videoStream) {
                videoStream.getTracks().forEach(track => track.stop());
                video.srcObject = null;
                video.style.display = "none";
                startButton.disabled = false;
                document.getElementById("stopWebcam").disabled = true;
                clearInterval(frameInterval); // Clear the frame interval
            }
        }
        
        
    </script>
</body> 
{% endblock page_body %}